<div class="center hero-unit">
  <h1>Welcome to Flitter</h1>

  <h2>
    This is the home page for the
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>