<footer class ="footer">
  <small>
    By<a href="http://nativeobject.com">Rose Auravide</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href='http://appacademyview.blogspot.com' %>Blog</li>
    </ul>
  </nav>

</footer>